html {
  height: 100%;
  /* Giving html height 100% */
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 100%;
  /* Giving body height 100% */
}

#StimArea {
  --d: 6.5em; 
  /* Setting d param */
	--rel: 0.3; 
  /* How much extra space we want between boxes, 1 = one box size */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan));
  /* Circle radius */
  --s: calc(2*var(--r) + var(--d)); 
  /* Container size */
  grid-template-columns: 1fr var(--s) 1fr;
  column-gap: 8px;
  /* Setting column sizes and gap - box container width set to s param */
  align-items: center;
  /* Aligning to center on the vertical axis */
  height: 100%;
  /* Setting height of StimArea to 100% of the body */
}

#countDown {
  color: black;
  /* Coloring the counter black */
  grid-column: 3;
  grid-row: 1;
  /* Placing counter in row 1, column 3 */
  height: 30px;
  /* Setting counter height */
  font-size: 25px;
  font-weight: 600;
  /* Setting counter font size and weight */
  text-align: center;
  /* Centering counter text */
}

#BoxContainer {
  grid-column: 2;
  grid-row: 1;
  /* Placing box container in row 1, column 2 */
  height: var(--s);
  /* Setting container height to s param */
  position: relative;
}

#BoxContainer .stimuliButton {
  position: absolute;
  /* Setting position to absolute, allowing adjustments in top and left */ 
  top: calc(var(--r) + 1.3735 * var(--d)); 
  /* Position each box at the center of box container (vertical) */
  left: 50%;
  /* Position each box at the center of box container (horizontal) */
  margin: calc(-.5*var(--d));
  /* Set box margin to -0.5 of box width */
	width: var(--d);
  /* Set box width to d param */
  --az: calc(var(--data-index)*1turn/var(--m));
  transform: 
  rotate(var(--az)) 
  translate(var(--r))
  rotate(calc(-1*var(--az)));
  /* Position each box on the circle */
  background-color: #ffffff;
  /* White background */
  border: 1px solid black;
  /* Black border */
  color: black;
  /* Black text */
  padding: 10px;
  /* Padding 10px */
  line-height: 90%;
  /* Line height 90% */
  cursor: pointer;
  /* Pointer/hand icon */
}

/* Placing cost count below box container */

#CostCount {
  position: absolute;
  top: 95%;
}

/* Adjusting button line height, button width, and padding for each window width */

@media (min-width: 1440px) {
  #BoxContainer .stimuliButton {
    line-height: 150%;
  }
  #StimArea {
    --d: 7.5em;
  }
}

@media (min-width: 1920px) {
  #BoxContainer .stimuliButton {
    padding: 14px;
  }
  #StimArea {
    --d: 8.5em;
  }
}


@media (min-width: 2560px) {
  #BoxContainer .stimuliButton {
    padding: 18px;
  }
  #StimArea {
    --d: 9.5em;
  }
}

#instr {
  grid-column: 1;
  grid-row: 1;
  /* Placing instructions in row 1, column 1 */
}

#instr #instructionText {
margin: auto;
width: 90%;
/* Centering text in intruction container */
}

/* Add a background color on hover */
#BoxContainer button:hover {
  background-color: #cccccc;
}

#BoxContainer button.muted {
  cursor: default;
  background-color: #eee;
  border: 1px solid #555;
  color: #555;
}

#BoxContainer button.mutednew {
  font-weight: 800;
  cursor: default;
  background-color: #eee;
  border: 1px solid #555;
  color: #333;
}

#BoxContainer button.muted:hover {
  cursor: default;
  background-color: #eee;
  border: 1px solid #555;
  color: #555;
}

#BoxContainer button.mutednew:hover {
  cursor: default;
  font-weight: 800;
  background-color: #eee;
  border: 1px solid #555;
  color: #333;
}

.centerText {
  position: relative;
  top: 50%;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.textAnswer {
  display: block;
  width: 80%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  margin-top: 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.radioContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-top: 8.5px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.radioContainer .radioOther {
  opacity: 1 !important;
  cursor: text !important;
  margin-left: 4px;
}

.checkmark {
  position: absolute;
  top: 3px;
  left: 7px;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

.radioContainer:hover input~.checkmark {
  background-color: #ccc;
}

.radioContainer input:checked~.checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioContainer input:checked~.checkmark:after {
  display: block;
}

.radioContainer .checkmark:after {
  top: 6px;
  left: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: white;
}
