#StimArea {
  --d: 125px; 
  /* Setting d param */
	--rel: 0.12; 
  /* How much extra space we want between boxes, 1 = one box size */
  --r: calc(.5*(1 + var(--rel))*var(--d)/var(--tan));
  /* Circle radius */
  --s: calc(2*var(--r) + var(--d)); 
  /* Container size */
  grid-template-columns: 1fr var(--s) 1fr;
  /* Setting column sizes - box container width set to s param */
}

#BoxContainer {
  height: var(--s);
  /* Setting container height to s param */
  position: relative;
}

#BoxContainer .stimuliButton {
  position: absolute;
  /* Setting position to absolute, allowing adjustments in top and left */
  top: calc(var(--r) + 0.825 * var(--d)); 
  /* Position each box at the center of box container (vertical) */
  left: 50%;
  /* Position each box at the center of box container (horizontal) */
  margin: calc(-.5*var(--d));
  /* Set box margin to -0.5 of box width */
	width: var(--d);
  /* Set box width to d param */
  --az: calc(var(--rotation-index)*1turn/var(--m));
  transform: 
  rotate(var(--az)) 
  translate(var(--r))
  rotate(calc(-1*var(--az)));
  /* Position each box on the circle */
  height: 49px;
  /* Height 49px */
}

/* Placing cost count below box container */

#CostCount {
  position: absolute;
  top: 95%;
}

/* Adjusting button width for each window width */

@media (min-width: 1440px) {
  #StimArea {
    --d: 140px;
  }
}

@media (min-width: 1920px) {
  #StimArea {
    --d: 170px;
  }
}

@media (min-width: 2560px) {
   #StimArea {
    --d: 185px;
  }
}

#BoxContainer button.muted {
  font-size: 25px;
}

#BoxContainer button.mutednew {
  font-size: 25px;
}
