#StimArea {
  grid-template-columns: 1fr 150px 1fr;
  /* Setting column sizes */
}

#BoxContainer {
  row-gap: 10px;
  /* Setting row gap to 10px */
}

#BoxContainer .stimuliButton {
  padding: 5px 24px;
  /* Padding 5px 24px */
}

/* Adjusting button line height and padding for each window width */

@media (min-width: 1920px) {
  #BoxContainer .stimuliButton {
    line-height: 150%;
    padding: 10px 24px;
  }
}


@media (min-width: 2560px) {
  #BoxContainer .stimuliButton {
    padding: 12px 24px;
  }
}
