#StimArea {
  grid-template-columns: 1fr 150px 1fr;
  /* Setting column sizes */
}

#BoxContainer {
  row-gap: 10px;
  /* Setting row gap to 10px */
}

#BoxContainer .stimuliButton {
  padding: 10px 24px;
  /* Padding 10px 24px */
  line-height: 90%;
  /* Line height 90% */
}

/* Adjusting button line height and padding for each window width */

@media (min-width: 1440px) {
  #BoxContainer .stimuliButton {
    line-height: 150%;
  }
}

@media (min-width: 1920px) {
  #BoxContainer .stimuliButton {
    padding: 14px 24px;
  }
}


@media (min-width: 2560px) {
  #BoxContainer .stimuliButton {
    padding: 18px 24px;
  }
}
